.footnotes{
  color: var(--text-color);
  ol {
    list-style-type:none;		
    counter-reset:sectioncounter;
    padding-inline-start: 0;

    li::before {
      content:"[" counter(sectioncounter) "] "; 
      counter-increment:sectioncounter;
    }

    li {
      p { 
        display: inline;
      }
    }
  } 
}                    