.table-container {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: $font-size-small;
  margin: 0 0 20px 0;
  max-width: 100%;
  margin: 0 auto;
  border-top: 2px solid $black-deep;
  border-bottom: 2px solid $black-deep;
}

tbody tr {
  &:nth-of-type(odd) {
    background: var(--table-row-odd-bg-color);
  }

  &:hover {
    background: var(--table-row-hover-bg-color);
  }
}
thead {
  border-bottom: 1px solid $grey-dark;
}
caption, th, td {
  font-weight: normal;
  padding: 0 8px;
  text-align: center;
  vertical-align: middle;
  width: 150px;
}

th {
  font-weight: 700;
}