.table-container {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: $table-font-size;
  margin: 0 0 20px 0;
  width: 100%;
  border-top: 2px solid $black-deep;
  border-bottom: 2px solid $black-deep;
}

tbody tr {
  &:nth-of-type(odd) {
    background: var(--table-row-odd-bg-color);
  }

  &:hover {
    background: var(--table-row-hover-bg-color);
  }
}
thead {
  border-bottom: 1px solid $grey-dark;
}
caption, th, td {
  font-weight: normal;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}
td pre {
  text-align: left;
}

th {
  font-weight: 700;
  padding-bottom: 10px;
}