.table-container {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: $table-font-size;
  margin: 0 0 20px 0;
  width: $table-width;
  border-top: 2px solid $black-deep;
  border-bottom: 2px solid $black-deep;
}

tbody tr {
  &:nth-of-type(odd) {
    background: $table-row-odd-bg-color;
  }

  &:hover {
    background: $table-row-hover-bg-color;
  }
}
thead {
  border-bottom: 1px solid $grey-dark;
}
caption, th, td {
  font-weight: normal;
  padding: $table-cell-padding;
  text-align: $table-content-alignment;
  vertical-align: $table-content-vertical;
}
td pre {
  text-align: left;
}

th {
  font-weight: $table-th-font-weight;
  padding-bottom: 10px;
}