.site-brand-container {
  background: $primary-color;

  +tablet-mobile() {
    box-shadow: $box-shadow-base;
  }
}

.site-meta {
  padding: 20px 0;
}

.brand {
  padding: 0;
}

.site-subtitle {
  margin: 10px 10px 0;
}

.custom-logo-image {
  margin-top: 20px;

  +tablet-mobile() {
    display: none;
  }
}
