.post-end-item {
  text-align: right;
  font: italic normal $font-size-small SimSun;
  color: $grey;
  margin-bottom: 3px;
}
.post-end-item-icon {
  margin-right: 3px;

  +tablet-mobile() {
    display: inline-block;
  }
}

.post-end-item-text {
  if (!hexo-config('post_meta.item_text')) {
    display: none;
  }
  +tablet-mobile() {
    display: none;
  }
}