// Colors
$primary-color = #027AFF; // Alipay rgba(22, 120, 255);
$sidebar-nav-hover-color          = $primary-color;
$sidebar-highlight                = $primary-color;
$table-row-odd-bg-color           = $content-bg-color ;
$heading-color                    = rgba(0, 0, 0, 0.85);
$text-color                       = rgba(0, 0, 0, 0.65);
$text-color-secondary             = $grey; 
// Font size
$font-size-16 = 21.333px; // 16pt 三号 21.333px 1.333em h2
$font-size-14 = 18.667px; // 14pt 四号 18.667px 1.167em h3
$font-size-12 = 16px; // 12pt 小四 16px 1em h4 p
$font-size-10-5= 14px; // 10.5pt 五号 14px .875em
$font-size-main = $font-size-12;
$font-size-secondary = $font-size-10-5;

// Headband
$headband-height                = 0px;
// Sidebar
$site-author-image-width        = 80px;
$site-author-name-margin        = 10px 0 0;
// eof
$post-eof-margin-top          = 20px;
$post-eof-margin-bottom       = 40px;